@media only screen and (max-width: 769px) {
  :root {
    --scroll-width:0 ;
  }
}
@media only screen and (min-width: 1440px) and (min-width: 1920px) {
  :root {
    --container-width:1400px ;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1439px) {
  :root {
    --container-width:1250px ;
  }
}
@media only screen and (max-width: 599px) {
  .--phone-i {
    display: inline !important;
  }
}
.--large-phone-i {
  display: none !important;
}

@media only screen and (min-width: 600px) and (max-width: 769px) {
  .--large-phone-i {
    display: inline !important;
  }
}
.--tablet-i {
  display: none !important;
}

@media only screen and (min-width: 770px) and (max-width: 1023px) {
  .--tablet-i {
    display: inline !important;
  }
}
.--notebook-i {
  display: none !important;
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .--notebook-i {
    display: inline !important;
  }
}
.--pc-i {
  display: none !important;
}

@media only screen and (min-width: 1440px) {
  .--pc-i {
    display: inline !important;
  }
}
.--phones-i {
  display: none !important;
}

@media only screen and (max-width: 769px) {
  .--phones-i {
    display: inline !important;
  }
}
.--mobile-i {
  display: none !important;
}

@media only screen and (max-width: 1023px) {
  .--mobile-i {
    display: inline !important;
  }
}
.--not-pc-i {
  display: none !important;
}

@media only screen and (max-width: 1439px) {
  .--not-pc-i {
    display: inline !important;
  }
}
.--not-phone-i {
  display: none !important;
}

@media only screen and (min-width: 600px) {
  .--not-phone-i {
    display: inline !important;
  }
}
.--not-phones-i {
  display: none !important;
}

@media only screen and (min-width: 770px) {
  .--not-phones-i {
    display: inline !important;
  }
}
.--desktop-i {
  display: none !important;
}

@media only screen and (min-width: 1024px) {
  .--desktop-i {
    display: inline !important;
  }
}
.--phone {
  display: none !important;
}

@media only screen and (max-width: 599px) {
  .--phone {
    display: block !important;
  }
}
.--large-phone {
  display: none !important;
}

@media only screen and (min-width: 600px) and (max-width: 769px) {
  .--large-phone {
    display: block !important;
  }
}
.--tablet {
  display: none !important;
}

@media only screen and (min-width: 770px) and (max-width: 1023px) {
  .--tablet {
    display: block !important;
  }
}
.--notebook {
  display: none !important;
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .--notebook {
    display: block !important;
  }
}
.--pc {
  display: none !important;
}

@media only screen and (min-width: 1440px) {
  .--pc {
    display: block !important;
  }
}
.--phones {
  display: none !important;
}

@media only screen and (max-width: 769px) {
  .--phones {
    display: block !important;
  }
}
.--mobile {
  display: none !important;
}

@media only screen and (max-width: 1023px) {
  .--mobile {
    display: block !important;
  }
}
.--not-pc {
  display: none !important;
}

@media only screen and (max-width: 1439px) {
  .--not-pc {
    display: block !important;
  }
}
.--not-phone {
  display: none !important;
}

@media only screen and (min-width: 600px) {
  .--not-phone {
    display: block !important;
  }
}
.--not-phones {
  display: none !important;
}

@media only screen and (min-width: 770px) {
  .--not-phones {
    display: block !important;
  }
}
.--desktop {
  display: none !important;
}

@media only screen and (min-width: 1024px) {
  .--desktop {
    display: block !important;
  }
}
.--phone-if {
  display: none !important;
}

@media only screen and (max-width: 599px) {
  .--phone-if {
    display: inline-flex !important;
  }
}
.--large-phone-if {
  display: none !important;
}

@media only screen and (min-width: 600px) and (max-width: 769px) {
  .--large-phone-if {
    display: inline-flex !important;
  }
}
.--tablet-if {
  display: none !important;
}

@media only screen and (min-width: 770px) and (max-width: 1023px) {
  .--tablet-if {
    display: inline-flex !important;
  }
}
.--notebook-if {
  display: none !important;
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .--notebook-if {
    display: inline-flex !important;
  }
}
.--pc-if {
  display: none !important;
}

@media only screen and (min-width: 1440px) {
  .--pc-if {
    display: inline-flex !important;
  }
}
.--phones-if {
  display: none !important;
}

@media only screen and (max-width: 769px) {
  .--phones-if {
    display: inline-flex !important;
  }
}
.--mobile-if {
  display: none !important;
}

@media only screen and (max-width: 1023px) {
  .--mobile-if {
    display: inline-flex !important;
  }
}
.--not-pc-if {
  display: none !important;
}

@media only screen and (max-width: 1439px) {
  .--not-pc-if {
    display: inline-flex !important;
  }
}
.--not-phone-if {
  display: none !important;
}

@media only screen and (min-width: 600px) {
  .--not-phone-if {
    display: inline-flex !important;
  }
}
.--not-phones-if {
  display: none !important;
}

@media only screen and (min-width: 770px) {
  .--not-phones-if {
    display: inline-flex !important;
  }
}
.--desktop-if {
  display: none !important;
}

@media only screen and (min-width: 1024px) {
  .--desktop-if {
    display: inline-flex !important;
  }
}
.--phone-f {
  display: none !important;
}

@media only screen and (max-width: 599px) {
  .--phone-f {
    display: flex !important;
  }
}
.--large-phone-f {
  display: none !important;
}

@media only screen and (min-width: 600px) and (max-width: 769px) {
  .--large-phone-f {
    display: flex !important;
  }
}
.--tablet-f {
  display: none !important;
}

@media only screen and (min-width: 770px) and (max-width: 1023px) {
  .--tablet-f {
    display: flex !important;
  }
}
.--notebook-f {
  display: none !important;
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .--notebook-f {
    display: flex !important;
  }
}
.--pc-f {
  display: none !important;
}

@media only screen and (min-width: 1440px) {
  .--pc-f {
    display: flex !important;
  }
}
.--phones-f {
  display: none !important;
}

@media only screen and (max-width: 769px) {
  .--phones-f {
    display: flex !important;
  }
}
.--mobile-f {
  display: none !important;
}

@media only screen and (max-width: 1023px) {
  .--mobile-f {
    display: flex !important;
  }
}
.--not-pc-f {
  display: none !important;
}

@media only screen and (max-width: 1439px) {
  .--not-pc-f {
    display: flex !important;
  }
}
.--not-phone-f {
  display: none !important;
}

@media only screen and (min-width: 600px) {
  .--not-phone-f {
    display: flex !important;
  }
}
.--not-phones-f {
  display: none !important;
}

@media only screen and (min-width: 770px) {
  .--not-phones-f {
    display: flex !important;
  }
}
.--desktop-f {
  display: none !important;
}

@media only screen and (min-width: 1024px) {
  .--desktop-f {
    display: flex !important;
  }
}
.--phone-ig {
  display: none !important;
}

@media only screen and (max-width: 599px) {
  .--phone-ig {
    display: inline-grid !important;
  }
}
.--large-phone-ig {
  display: none !important;
}

@media only screen and (min-width: 600px) and (max-width: 769px) {
  .--large-phone-ig {
    display: inline-grid !important;
  }
}
.--tablet-ig {
  display: none !important;
}

@media only screen and (min-width: 770px) and (max-width: 1023px) {
  .--tablet-ig {
    display: inline-grid !important;
  }
}
.--notebook-ig {
  display: none !important;
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .--notebook-ig {
    display: inline-grid !important;
  }
}
.--pc-ig {
  display: none !important;
}

@media only screen and (min-width: 1440px) {
  .--pc-ig {
    display: inline-grid !important;
  }
}
.--phones-ig {
  display: none !important;
}

@media only screen and (max-width: 769px) {
  .--phones-ig {
    display: inline-grid !important;
  }
}
.--mobile-ig {
  display: none !important;
}

@media only screen and (max-width: 1023px) {
  .--mobile-ig {
    display: inline-grid !important;
  }
}
.--not-pc-ig {
  display: none !important;
}

@media only screen and (max-width: 1439px) {
  .--not-pc-ig {
    display: inline-grid !important;
  }
}
.--not-phone-ig {
  display: none !important;
}

@media only screen and (min-width: 600px) {
  .--not-phone-ig {
    display: inline-grid !important;
  }
}
.--not-phones-ig {
  display: none !important;
}

@media only screen and (min-width: 770px) {
  .--not-phones-ig {
    display: inline-grid !important;
  }
}
.--desktop-ig {
  display: none !important;
}

@media only screen and (min-width: 1024px) {
  .--desktop-ig {
    display: inline-grid !important;
  }
}
.--phone-g {
  display: none !important;
}

@media only screen and (max-width: 599px) {
  .--phone-g {
    display: grid !important;
  }
}
.--large-phone-g {
  display: none !important;
}

@media only screen and (min-width: 600px) and (max-width: 769px) {
  .--large-phone-g {
    display: grid !important;
  }
}
.--tablet-g {
  display: none !important;
}

@media only screen and (min-width: 770px) and (max-width: 1023px) {
  .--tablet-g {
    display: grid !important;
  }
}
.--notebook-g {
  display: none !important;
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .--notebook-g {
    display: grid !important;
  }
}
.--pc-g {
  display: none !important;
}

@media only screen and (min-width: 1440px) {
  .--pc-g {
    display: grid !important;
  }
}
.--phones-g {
  display: none !important;
}

@media only screen and (max-width: 769px) {
  .--phones-g {
    display: grid !important;
  }
}
.--mobile-g {
  display: none !important;
}

@media only screen and (max-width: 1023px) {
  .--mobile-g {
    display: grid !important;
  }
}
.--not-pc-g {
  display: none !important;
}

@media only screen and (max-width: 1439px) {
  .--not-pc-g {
    display: grid !important;
  }
}
.--not-phone-g {
  display: none !important;
}

@media only screen and (min-width: 600px) {
  .--not-phone-g {
    display: grid !important;
  }
}
.--not-phones-g {
  display: none !important;
}

@media only screen and (min-width: 770px) {
  .--not-phones-g {
    display: grid !important;
  }
}
.--desktop-g {
  display: none !important;
}

@media only screen and (min-width: 1024px) {
  .--desktop-g {
    display: grid !important;
  }
}/*# sourceMappingURL=media.css.map */