.first {
    display: flex;

}

.first__container {
    padding-top: calc(15px + 74 * ((100vw - 320px) / 1600));
    display: flex;
    position: relative;
    padding-bottom: calc(28px + 132 * ((100vw - 320px) / 1600));
    padding-left: calc(15px + 74 * ((100vw - 320px) / 1600));
    padding-right:calc(15px + 74 * ((100vw - 320px) / 1600));;
}

.first_content {
   
    display: flex;
    flex-direction: column;
    
}

.first__top {
    display: flex;
    flex-direction: column;
    
}

 .first__logo {
    width: 100%;
    height: auto;
}

.first__logo h1 {
    font-size: calc(4px + 18 * ((100vw - 320px) / 1600));
    font-weight: 700;
    color: #000000;
}

.first__bottom {
    display: flex;
   margin-bottom: 50px;
}

.first__columns {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 80px;
}

.first_nomber {
    font-size: calc(48px + 16*((100vw - 320px)/(1920 - 320)));
    font-weight: 700;
    color: #000000;
}

.first_text {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.container_logo {
    position: absolute;
    top: 0%;
    right: -2%;   
    width: calc(20px + 800 * ((100vw - 320px) / 1600));
    height: calc(20px + 700 * ((100vw - 320px) / 1600));
    z-index: 10;
   
}

.first__logo {
    width: calc(px + 0 * ((100vw - 320px) / 1080));
    display: block;
}

 .button {
    display: flex;
    border-radius: 53px;  
    height: calc(13px + 67 * ((100vw - 320px) / 1600));
    align-items: center;
    justify-content: center;
    color:white;
    gap: calc(14px + 6*((100vw - 320px) /(1920 - 320)));
    padding-top: 26px;
    padding-bottom: 29px;
    padding-inline: calc(32px + 38*((100vw - 320px) /(1920 - 320)));
    font-size: calc(16px + 4*((100vw - 320px)/(1920 - 320)));
    align-self: flex-start;
    overflow: hidden;
}

.buttons {
    background: linear-gradient(130deg, #8254BF 0%, #633F94 100%);
	background-size: 150%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}

.buttons:hover {
    background-position: 350%;
}

@media (max-width: 1500px) {

  

      .first__container {
        width: calc(100%-60px);
      }

      .container_logo {
        top: 0%;
        right: 5%;     
        z-index: 10;
    }

  
}



@media (max-width: 1025px) {
    .container_logo {
        z-index: -11;
        opacity: 40%;
      }
    
      .first_content {
          background-color: rgb(red, green, blue);
      }
      
      .first__container {
        width: calc(100%-60px);
      }

      .first__columns {
        column-gap: calc(50px + 25 * ((100vw - 320px) / 1600));
      }
}


@media (max-width: 1050px) {
  
  


  
}

@media (max-width: 980px) {

 



}

@media (max-width: 770px) {



  
}

@media  (max-width: 629px) {
 
.container_logo {
    display: none;
}



}

@media (max-width: 469px) {
 
    .first__columns {
        column-gap: calc(15px + 25 * ((100vw - 320px) / 1600));
    }

}






