.hostel {
    display: flex;
}

.hostel__container {
    padding-right: calc(10px + 70 * ((100vw - 320px) / 1600));
    padding-left: calc(10px + 70 * ((100vw - 320px) / 1600));  
    padding-bottom: calc(36px + 124 * ((100vw - 320px) / 1600));
}

.hostel--content {
    display: none;
    gap: calc(10px + 60 * ((100vw - 320px) / 1600)); 
}

.hostel__left {
    row-gap: calc(20px + 20 * ((100vw - 320px) / 1600));
    display: flex;
    flex-direction: column;
}

.hostel__title {
    font-weight: 700;
    font-size: calc(16px + 16 * ((100vw - 320px) / 1600));
    color: #000000;
}

.hostel__info {
    display: flex;
    flex-direction: column;
    row-gap: calc(8px + 2 * ((100vw - 320px) / 1600));
}

.hostel__info--text {
    font-weight: 400;
    font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
    color: #000000;
}

.hostel__info--item {
    display: flex;
    align-items: center;
    gap: 3px;
}

.info__tick {
    fill: #633F94;  
}

.hostel__link a {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
    color: #000000;
    margin-bottom: calc(10px + 40 * ((100vw - 320px) / 1600));
}

.hostel__buttons {
    display: flex;
    gap: calc(12px + 8*((100vw - 320px) /(1920 - 320)));
    
}

.button {
    display: flex;
    border-radius: 53px;  
    height: calc(13px + 67 * ((100vw - 320px) / 1600));
    align-items: center;
    justify-content: center;
    color:white;
    gap: calc(14px + 6*((100vw - 320px) /(1920 - 320)));
    padding-top: 33px;
    padding-bottom: 33px;
    padding-right: 23px;
    padding-left: 33px;
    font-size: calc(14px + 6*((100vw - 320px)/(1920 - 320)));
}

.btn {
    background: linear-gradient(130deg, #ffffff 0%, #D9D9D9 100%);
	background-size: 150%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
    border: 1px solid #000000;
    color: #000000;
}
.btn:hover {
    background-position: 350%;
}

.hostel__right {
    display: flex;
    flex-direction: column;
    gap: calc(14px + 11*((100vw - 320px) /(1920 - 320)));   
    flex-wrap: wrap;
    position: relative;
}

.hostel__top img {
    overflow: hidden;
    border-radius: 40px;
    object-fit: cover;
    max-width: 100%;
}

.swiper-class {
    display: grid; 
    position: relative;
    height: 300px;
    width: 400px;
}

.wrapper-class {
    display: flex;
    min-width: 0;
}

.slide-class img {
    border-radius: 12px;
    object-fit: cover;
}

.prevClass, .nextClass {
    border-radius: 40px;
    background: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid #ffffff;
}

.prevClass {
    position: absolute;
    left: 10px;
    top: 527px;
    z-index: 10;
}

.nextClass {
    position: absolute;
    right: 10px;
    top: 527px;
    z-index: 1;
}

.hostel-btn {
    text-decoration: none;
    color: inherit;
}

.left--btn, .right--btn {
    vertical-align: middle;
}

.hostel--content.active {
    display: flex;
    gap: calc(10px + 60 * ((100vw - 320px) / 1600)); 
}
