.hostel {
    display: flex;
}

.hostel__container {
    padding-right: calc(10px + 90 * ((100vw - 320px) / 1600));
    padding-left: calc(10px + 90 * ((100vw - 320px) / 1600));  

}

.hostel--content {
    display: flex;
    gap: 5px;
   
}

.hostel__left {
    row-gap: 40px;
    display: flex;
    flex-direction: column;
}

.hostel__title {
    font-weight: 700;
    font-size: 32px;
    color: #000000;
}

.hostel__info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.hostel__info--text {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    
}

.hostel__info--item {
    display: flex;
    align-items: center;
    gap: 3px;
}

.info__tick {
    fill: #633F94;  
}

.hostel__link a {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    margin-bottom: 50px;
}

.hostel__buttons {
    display: flex;
    gap: calc(12px + 8*((100vw - 320px) /(1920 - 320)));
    flex-wrap: wrap;

}

.button {
    display: flex;
    border-radius: 53px;  
    height: calc(13px + 67 * ((100vw - 320px) / 1600));
    align-items: center;
    justify-content: center;
    gap: calc(14px + 6*((100vw - 320px) /(1920 - 320)));
    padding-top: 26px;
    padding-bottom: 29px;
    padding-inline: calc(32px + 38*((100vw - 320px) /(1920 - 320)));
    font-size: calc(16px + 4*((100vw - 320px)/(1920 - 320)));
    align-self: flex-start;
    font-size: calc(16px + 4*((100vw - 320px)/(1920 - 320)));
    
}

.btn {
    background: linear-gradient(130deg, #ffffff 0%, #ffffff 100%);
	background-size: 150%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
    border: 1px solid #000000;
    color: #000000;
}
.btn:hover {
    background-position: 350%;
}

.hostel__right {
    display: flex;
    flex-direction: column;
    gap: calc(14px + 11*((100vw - 320px) /(1920 - 320)));
    
}

