.logistic {
   display: flex;
   position: relative;
   
}

.logistic__container {
    background: linear-gradient(1deg, #7449AF 80%, #633F94 100%); 
    border-radius: 40px;
    width: calc(100% - 150px);
    opacity: 95%;
    padding-top: calc(28px + 22 * ((100vw - 320px) / 1600));
    padding-bottom: calc(32px + 21 * ((100vw - 320px) / 1600));
    padding-left: calc(15px + 55 * ((100vw - 320px) / 1600));
    padding-right: calc(15px + 55 * ((100vw - 320px) / 1600));
    margin-bottom: 232px;
    backdrop-filter: blur(70px);
}

.logistic__content {
    display: flex;
    flex-direction: column;
    
}

.logistic--logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logistic__title h2 {
    font-size: calc(16px + 32 * ((100vw - 320px) / 1600));
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}


.logistic__text p {
    font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1600));
    padding-left: 10px;
}

.logistic__text p:last-child {
    margin-bottom: 0px;
}

.logistic__images {
    padding-top: calc(10px + 20 * ((100vw - 320px) / 1600));
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(10px + 20 * ((100vw - 320px) / 1600));
    
}

.caption__left img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.caption__right {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13em, 1fr));
    margin-bottom: calc(10px + 47 * ((100vw - 320px) / 1600));
    row-gap: calc(10px + 20 * ((100vw - 320px) / 1600));
    column-gap: calc(10px + 20 * ((100vw - 320px) / 1600));
}

.caption__right a img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.logistic--buttons {
    padding-top: 33px;
    padding-bottom: 33px;
    padding-inline: calc(32px + 38*((100vw - 320px) /(1920 - 320)));
    background: #FFFFFF;
    color: #000000;
}

.logistic__track  {
    position: absolute;
    z-index: -1;
    top: 850px;
    left: -450px;
    
}