.partners {
    display: flex;
}

.partners__container {
    padding-right: calc(10px + 70 * ((100vw - 320px) / 1600));
    padding-left: calc(10px + 70 * ((100vw - 320px) / 1600));
    padding-bottom: 142px;
    display: flex;
    flex-direction: column;
    gap: calc(18px + 41 * ((100vw - 320px) / 1600));
}

.partners__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.partners__title--text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    text-transform: uppercase;
}

.partners__title--text h2 {
    font-weight: 800;
    font-size: calc(16px + 32 * ((100vw - 320px) / 1600));
    color: #000000;
}

.partners__title--text .title-two {
    color: #633F94;
}

.partners-swipper {
    background: #FFFFFF;
    border-radius: 40px;
    padding-top: calc(17px + 41 * ((100vw - 320px) / 1600));
    padding-left: calc(15px + 70 * ((100vw - 320px) / 1600));
    padding-right: calc(15px + 70 * ((100vw - 320px) / 1600));
    padding-bottom: calc(11px + 56 * ((100vw - 320px) / 1600));
    position: relative;
}

.partners-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
    align-items: center;
    column-gap: 45px;
    vertical-align: middle;
}

 /*.partners_slider-img img {
    margin-right: calc(8px + 32 * ((100vw - 320px) / 1600));
    max-width: 100%;
}*/

.partners_slider-img  {
    margin-right: calc(5px + 15 * ((100vw - 320px) / 1600));
    vertical-align: middle;
}

.partners__swipers-button-prev, .partners__swipers-button-next {
    border-radius: 40px;
    background: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid #ffffff;
}

.partners__swipers-button-prev {
    position: absolute;
    left: -35px;
    top: 120px;
}

.partners__swipers-button-next {
    position: absolute;
    right: -35px;
    top: 120px;
}

.partners__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}