

.rent__container {
    margin-bottom: calc(8px + 10 * ((100vw - 320px) / 1600));
    padding-right: calc(10px + 70 * ((100vw - 320px) / 1600));
    padding-left: calc(10px + 70 * ((100vw - 320px) / 1600)); 
}

.border__content {
    display: flex;
    flex-direction: column;
    border-radius: 30px 30px 70px 70px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    padding-left: calc(22px + 75 * ((100vw - 320px) / 1600));
    padding-right: calc(22px + 75 * ((100vw - 320px) / 1600));
    padding-top: calc(16px + 40 * ((100vw - 320px) / 1080));
    padding-bottom: calc(25px + 70 * ((100vw - 320px) / 1080));
    row-gap: 70px;
    
}

.border__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.border__title  {
    font-weight: 700;
    font-size: calc(20px + 28 * ((100vw - 320px) / 1600));

    color: #000000;
}

.border__close {
    display: flex;
    gap: 10px;
    cursor: pointer;
    align-items: center;
}

.border__close {
    font-weight: 700;
    color:#000000;
    font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
}

.border__open {
    display: none;
}

#border__closeone {
    display: block;
}

.border__bottom {
    border-radius: 40px;
    display: block;
    visibility: visible;
    opacity: 1;
}

.rent__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 12px;
    width: 100%;
    
}

.rent__card a {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    row-gap: calc(15px + 50 * ((100vw - 320px) / 1600));
    column-gap: calc(15px + 40 * ((100vw - 320px) / 1600));
    border-radius: 40px;
    border: 1px solid  #ffffff;
    background: #FFFFFF;
    box-shadow: 1px 1px 10px #E5E5E5;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;    
    color: #000000;  
    transition: background-color 0.3s ease, transform 0.3s ease;
    height: 100%;
    padding-bottom: 22px;
    
}

.rent__card .threecard {
    row-gap: calc(13px + 75 * ((100vw - 320px) / 1600));
}


.card__top {
    background: #F5F5F5;
    width: 100px;   
    height: 100px; 
    border-radius: 50px;
    border: 1px solid #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__top svg {
    width: calc(25px + 20 * ((100vw - 320px) / 1600));
    height: calc(25px + 20 * ((100vw - 320px) / 1600));
}

.card__bottom {
    font-weight: 700;
    font-size: calc(16px + 4 * ((100vw - 320px) / 1600));

}

.rent__card a:hover {
    background: linear-gradient(135deg, #8254BF,  #633F94);
    color: #FFFFFF;
}

.rent__card a .oneicon path {
    fill: black;
    transition: fill 0.3s ease; 
}

.rent__card a:hover .oneicon path {
    fill: #633F94; 
}

.border__bottom.close {
    display: none;
    opacity: 0;
}

.border__open.close {
    display: block;
}

#border__closeone.open {
    display: none;
}


@media (max-width: 708px) {
    .rent__card a {
        align-items: center;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .rent__container {
        width: calc(100% - 35px);
    }
}

@media (max-width: 350px) {
  
    .rent__container {
        width: calc(100% - 20px);
    }
}

